.taskForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.68rem;
  gap: 8px;
}

.taskForm textarea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-500);
  color: var(--gray-300) ;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  resize: none;
  padding: 1rem 0 0 1rem;
}

.taskForm button {
  background-color: var(--blueDark);
  color: var(--gray-100);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}

.taskForm button:hover {
  filter: brightness(110%);
}



